.page-main__catalog {
  padding-left: 30px;
  padding-top: 42px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  height: 354px;
  width: 260px;
  border: 1px solid @bord-lightgrey;
  margin-bottom: 30px;
}

.catalog__name {
  font-weight: 700;
  padding-left: 28px;
}

.catalog__characteristics {
  font-size: 13px;
  line-height: 30px;
  color: @text-darkgrey;
  padding-left: 28px;
}

.catalog__prise {
  font-size: 15px;
  font-weight: 700;
  padding-left: 28px;
}
