.categories {
  height: 206px;
}

.categories__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categories__item--subjects {
  color: white;
  display: inline;
  background-color: #63d1bb;
  padding: 24px 196px 31px 30px;
}

.categories__item--plays {
  color: white;
  display: inline;
  background-color: #56c3b2;
  padding: 24px 213px 31px 30px;
}
