.contacts {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 6px;
    background-image: url("../../img/zigzag-mobile.svg");
    left: 0;
    top: 45px;

    @media (min-width: @tablet-width) {
      background-image: url("../../img/zigzag-tablet.svg");
      width: 768px;
      height: 17px;
      top: -118px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../../img/zigzag-desktop.svg");
      width: 1050px;
      height: 24px;
      top: -127px;
      left: 52px;
    }
  }
}

.contacts__heading {
  padding-top: 74px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__table {
  padding-left: 26px;
  margin-top: -14px;
  border-spacing: 0 26px;
}

.contacts-table__cell {
  padding-right: 30px;
  vertical-align: top;
}

.contacts-table__row {
  font-size: 14px;
  line-height: 30px;
  color: @text-darkgrey;
}

.contacts-map {
  padding-top: 20px;
}

.contacts__write {
  border: 2px solid @text-darkgrey;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: @text-darkgrey;
  width: 260px;
  height: 52px;
  margin-left: 30px;
  margin-top: 18px;
}

.contacts-table__cell--email {
  border-bottom: 1px solid @basik-border;

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  &:hover {
    color: @basik-border;
  }

  &:active {
    color: @basik-borderdown;
  }
}

.socials__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 768px;
    margin: 0;
  }

  .contacts__heading {
    position: relative;
    padding: 0;
    margin-top: -32px;
    margin-left: 50px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background-image: url("../../img/flag.svg");
      left: 618px;
      top: -23px;

      @media (min-width: @desktop-width) {
        left: -112px;
        top: -17px;
      }
    }
  }

  .contacts-table__row {
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts-table__row--email {
    margin-top: -84px;
    margin-left: 22px;

    @media (min-width: @desktop-width) {
      margin-left: 195px;
    }
  }

  .contacts-table__row--adress {
    margin-top: -26px;
    margin-left: 15px;

    @media (min-width: @desktop-width) {
      margin-left: 195px;
      margin-top: -38px;
    }
  }

  .contacts-map__image {
    width: 768px;
    height: 457px;
    margin-top: -41px;
  }

  .contacts__write {
    width: 230px;
    height: 52px;
    margin-left: 269px;
    margin-top: 32px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 1150px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 600px;
  }

  .contacts-map__image {
    height: 457px;
    width: 527px;
  }

  .contacts-map {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: -34px;
    margin-left: 24px;
  }

  .contacts__heading,
  .contacts__table,
  .contacts__write {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .contacts__write {
    margin-left: 224px;
    margin-top: 7px;
  }

  .contacts__heading {
    margin-left: 225px;
    margin-top: 24px;
    font-size: 53px;
    line-height: 57px;
  }
}
