.modal-order__paragraph {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  width: 154px;
  text-align: center;
  padding-left: 81px;
  padding-top: 28px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 400px;
    font-size: 30px;
    padding-top: 52px;
    padding-left: 84px;
  }
}

.modal-order__span {
  font-size: 15px;
  line-height: 30px;
  margin-left: 92px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-left: 207px;
    margin-top: 25px;
  }
}

.modal-order {
  visibility: hidden;
  opacity: 0;
  margin: auto;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  transition: opacity 0.35s ease, visibility 0.3s ease;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  width: 320px;
  height: 336px;

  @media (min-width: @tablet-width) {
    width: 566px;
    height: 336px;
  }
}

.modal-order--show {
  visibility: visible;
  opacity: 1;
}
