.page-footer {
  background: @background-grey;
  margin-top: 41px;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 81px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer-form {
    margin-top: -13px;
  }
}
