.page-header__navigation {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 400px;
  justify-content: flex-start;
  padding-top: 20px;
}

.page-header__nav {
  display: flex;
  justify-content: flex-end;
}

.page-header__logo {
  padding-right: 100px;
}

.page-header__title-wrapper {
  width: 320px;
  height: 283px;
  text-align: center;
  font-size: 17px;
  line-height: 40px;
  font-style: normal;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.header-nav__wrapper {
  padding-left: 60px;
}

.site-list__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding-top: 55px;
}

.page-header__title--form {
  width: 320px;
  height: 150px;
  padding-top: 40px;
  background-color: @background-grey;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
