.page-header__navigation {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 79px;
  justify-content: flex-end;
  padding-top: 20px;
}

.page-header__logo {
  padding-right: 100px;
}

.header-nav__wrapper {
  display: none;
}

.page-header__title-wrapper {
  width: 320px;
  height: 283px;
  text-align: center;
  font-size: 17px;
  line-height: 40px;
  font-style: normal;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
