.page-main__wrapper {
  width: 320px;
}

.page-main__description {
  font-size: 13px;
  line-height: 24px;
  color: @text-darkgrey;
  padding-left: 30px;
}

.page-form {
  border: none;
}

.legend-text {
  font-weight: 700;
  text-transform: uppercase;
  color: @background-lightgreen;
  margin-left: 10px;
}

.radio-feed__item {
  margin-left: 30px;
}

.checkbox-feed__item {
  margin-left: 30px;
}

.info-feed__item {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.info-feed__label--personal {
  font-weight: 700;
}

.info-feed__label--contacts {
  font-weight: 700;
  text-transform: uppercase;
  color: @background-lightgreen;
}

.info-feed__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid @basik-black;
  width: 260px;
  height: 52px;
  margin-bottom: 20px;

  &::placeholder {
    color: @basik-black;
    opacity: 0.3;
  }
}

.page-form__text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
}

.page-form__button {
  width: 280px;
  height: 52px;
  border: 2px solid @text-darkgrey;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 30px;
}
