.page-main__wrapper {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.page-main__description {
  font-size: 13px;
  line-height: 24px;
  color: @text-darkgrey;
  padding-left: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;

    .page-main__description--none {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 275px;
  }
}

@media (min-width: @tablet-width) {
  .radio-feed {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    gap: 120px;
    height: 100px;

    @media (min-width: @desktop-width) {
      padding-left: 100px;
    }
  }

  .radio-feed__list {
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 19px;
    font-weight: 700;
  }

  .radio-feed__legend {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .checkbox-feed {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    gap: 110px;
    background-color: @background-grey;
    height: 144px;
    padding-top: 60px;
    margin: 0;

    @media (min-width: @desktop-width) {
      padding-left: 100px;
    }
  }

  .checkbox-feed__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
    font-size: 19px;
    font-weight: 700;

    @media (min-width: @desktop-width) {
      height: 60px;
    }
  }

  .info-feed {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    gap: 110px;
    height: 344px;
    padding-top: 60px;

    @media (min-width: @desktop-width) {
      padding-left: 100px;
    }
  }

  .tell-feed {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    gap: 150px;

    @media (min-width: @desktop-width) {
      padding-left: 100px;
    }
  }

  .email-feed {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 125px;

    @media (min-width: @desktop-width) {
      padding-left: 100px;
    }
  }

  .add-feed {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 145px;

    @media (min-width: @desktop-width) {
      padding-left: 100px;
    }
  }
}

.page-form {
  border: none;
}

.legend-text {
  font-weight: 700;
  text-transform: uppercase;
  color: @background-lightgreen;
  margin-left: 10px;
  margin-top: 0;
}

.tell-feed__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid @basik-black;
  width: 260px;
  height: 52px;
  margin-top: -17px;

  &::placeholder {
    color: @basik-black;
    opacity: 0.3;
  }
}

.tell-feed__label--contacts {
  display: none;
}

.email-feed__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid @basik-black;
  width: 260px;
  height: 52px;
  margin-top: -17px;

  &::placeholder {
    color: @basik-black;
    opacity: 0.3;
  }
}

.email-feed__label--contacts {
  display: none;
}

.info-feed__item {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.info-feed__label--personal {
  font-weight: 700;
}

.info-feed__label--contacts {
  font-weight: 700;
  text-transform: uppercase;
  color: @background-lightgreen;
}

.info-feed__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid @basik-black;
  width: 260px;
  height: 52px;
  margin-bottom: 20px;

  &::placeholder {
    color: @basik-black;
    opacity: 0.3;
  }
}

.add-feed__input {
  border: 2px solid @text-darkgrey;
  width: 260px;
  height: 142px;
  margin-bottom: 20px;

  &::placeholder {
    color: @basik-black;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 501px;
    height: 142px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.add-feed__label--contacts {
  display: none;
}

.page-form__text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
}

.page-form__button {
  width: 280px;
  height: 52px;
  border: 2px solid @text-darkgrey;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 30px;
}

.page-footer__submit {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
  }
}
