.page-main__process {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  border: 1px solid @bord-lightgrey;
  width: 260px;
}

.production-main__process {
  padding-left: 100px;
  font-size: 17px;
}

.production-main__description {
  font-size: 13px;
  line-height: 24px;
  color: @text-darkgrey;
  padding-left: 34px;
}

.production-main__button {
  width: 192px;
  height: 34px;
  border: 2px solid @text-darkgrey;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: @text-darkgrey;
  text-transform: uppercase;
  padding-top: 18px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 41px;
}
