.products-reviews {
  padding-left: 42px;
}

.products-reviews__title {
  font-size: 25px;
  font-weight: 700;
}

.products-reviews__text {
  font-size: 15px;
  color: @text-darkgrey;
}

.pruduct-rewiews__user {
  font-weight: 700;
}

.slide__left {
  background-image: url("../../img/huge-arrow-left.svg.svg");
  width: 60px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: @basik-white;
  border: none;
  cursor: pointer;
}

.slide__right {
  background-image: url("../../img/huge-arrow-right.svg.svg");
  width: 60px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: @basik-white;
  border: none;
  cursor: pointer;
  margin-left: 40px;
}

.products-reviews__slide {
  padding: 20px 20px 13px 60px;
  border: 1px solid @bord-lightgrey;
}

.products-reviews__button {
  padding: 16px 85px 16px 85px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: @text-darkgrey;
  text-transform: uppercase;
  background: @basik-white;
  border: 2px solid @text-darkgrey;
  margin-top: 38px;
}
