.products-week__title {
  padding-left: 42px;
}

.products-week__label {
  color: #63d1bb;
  padding-left: 42px;
}

.products-week__description {
  padding-left: 42px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.products-week__table {
  padding-left: 42px;
  font-size: 15px;
}

.products-week__image {
  padding-left: 42px;
}

.products-week__price {
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  font-weight: 700;
}

.products-week__order {
  border: 2px solid #444444;
  background: #ffffff;
  width: 260px;
  height: 52px;
  margin-left: 42px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
}
