.section-about {
  position: relative;
  margin-top: 55px;
  padding-left: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 6px;
    background-image: url("../img/zigzag-mobile.svg");
    left: 0;
    top: -19px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/zigzag-tablet.svg");
      width: 768px;
      height: 17px;
      top: -38px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/zigzag-desktop.svg");
      width: 1050px;
      height: 24px;
      top: 13px;
      left: 50px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 34px;
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    margin: left auto;
    padding-left: 224px;
    padding-top: 35px;
  }
}

.section-about__title {
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.section-about__short {
  color: @basik-black;
  font-weight: 700;
}

.about-list__item {
  position: relative;
  padding-top: 64px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -10px;
    padding-bottom: 38px;
  }
}

.about-list__item--ecology {
  &::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 38px;
    background-image: url("../img/icon-floor.svg");
    top: 9px;
    left: 8px;
  }
}

.about-list__item--style {
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-money.svg");
    top: 29px;
  }
}

.about-list__item--like {
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 27px;
    background-image: url("../img/icon-like.svg");
    top: 34px;
    left: 7px;
  }
}

.about-list__item--love {
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-love.svg");
    top: 31px;
    left: 3px;
  }

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: -22px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -30px;
  }
}

.about-list__item--support {
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-support.svg");
    top: 32px;
    left: -6px;
  }
}

.about-list__item--present {
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-present.svg");
    top: 30px;
    left: 3px;
  }
}

@media (min-width: @tablet-width) {
  .section-about__short {
    display: grid;
    grid-template-columns: 335px auto;
    grid-template-rows: repeat(3, auto);
  }

  .about-list__item--support {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
  }
}

@media (min-width: @desktop-width) {
  .section-about__short {
    column-gap: 16px;
    margin-top: 10px;
  }

  .section-about__title {
    padding-top: 24px;
    font-size: 53px;
    line-height: 57px;
  }
}
