.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
  min-height: 146px;
  margin-top: 3px;

  @media (min-width: @tablet-width) {
    width: 768px;
    align-items: center;
    margin-top: 2px;
    min-height: 140px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    gap: 146px;
  }
}

.socials__list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.socials__item {
  position: relative;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin-top: 6px;
  }
}

.socials__link {
  display: inline-block;
  background-image: url("../img/insta.svg");
  padding: 22px;
  background-repeat: no-repeat;
  filter: brightness(0);
  background-position: center;

  &:hover {
    filter: brightness(1);
  }

  &:active {
    filter: brightness(1);
    opacity: 0.3;
  }
}

.socials__link--fb {
  display: inline-block;
  background-image: url("../img/fb.svg");
}

.socials__link--twitter {
  display: inline-block;
  background-image: url("../img/twitter.svg");
}

.copiright-developed {
  display: flex;
  position: relative;
  margin-left: 70px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  gap: 27px;
  align-items: center;
  padding-bottom: 1px;

  &::after {
    content: "";
    display: inline-block;
    background-image: url("../img/htmlacademy.svg");
    width: 27px;
    height: 34px;
    opacity: 0.8;

    @media (min-width: @desktop-width) {
      top: -7px;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}


@media (min-width: @tablet-width) {
  .socials__logo {
    display: block;
    background-image: url("../img/logo-footer.svg");
    width: 102px;
    height: 34px;
    margin-top: -5px;
    filter: brightness(1);
    background-repeat: no-repeat;
    margin-right: 62px;
    margin-left: 1px;

    &:hover {
      filter: brightness(0);
    }

    &:active {
      filter: brightness(1);
      opacity: 0.2;
    }

    @media (min-width: @desktop-width) {
      margin-top: 2px;
      margin-left: -2px;
      padding-right: 40px;
    }
  }

  .socials {
    flex-direction: row;
    justify-content: space-evenly;

    @media (min-width: @desktop-width) {
      width: 1150px;
      margin: 0 auto;
      height: 146px;
    }
  }

  .socials__list {
    flex-direction: row;

    @media (min-width: @desktop-width) {
      flex-direction: row;
      gap: 14px;
    }
  }

  .copiright-developed {
    margin-top: 2px;
    margin-left: 60px;

    @media (min-width: @desktop-width) {
      margin-top: 1px;
      margin-left: 107px;
    }
  }
}
